.preloader {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  display: flex;
  visibility: visible;
  align-items: center;
  justify-content: center;
  background: rgb(0, 0, 0);
  z-index: 10000000000;
  transition: 0.3s;
  opacity: 1;
}

.spinner {
  width: 80px;
  height: 80px;
  border: 7px solid #fff;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  from {
  }
  to {
    transform: rotate(360deg);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s;
  transition-property: opacity, backdrop-filter, background;
  opacity: 0;
  background: rgb(0, 0, 0);
}

.loaded .preloader {
  transition: 0.3s;
  transition-property: opacity, visibility;
  visibility: hidden;
  opacity: 0;
}