@font-face {
    font-family: PixelOperatorBold;
    src: url("../fonts/PixelOperatorMono-Bold.ttf")
}

@font-face {
    font-family: PixelOperatorMono;
    src: url("../fonts/PixelOperatorMono.ttf")
}

@font-face {
    font-family: Hacked;
    src: url("../fonts/HACKED.ttf")
}

body {
    background-color: black;
    background-image: url(../images/wallpaper.png);
    background-size: cover;
    font-family: PixelOperatorBold;
    margin: 0;
    overflow: hidden;
}

#terminal_output::selection {
    color: black;
    background-color: white;
}

#terminal_output::-moz-selection {
    color: black;
    background-color: white;
}

#toppanel {
    background-color: rgb(39, 39, 39);
    padding: 0.2rem;
    height: 1.6rem;
    color: white;
    text-align: center;
    user-select: none;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    z-index: 101;
}

.sbutton {
    float: left;
    margin-top: 0.17rem;
    margin-left: 0.17rem;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    cursor: pointer;
}

.sbutton__img {
    height: 1.2rem;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

.time-sb {
    float: right;
    margin-left: 0.6rem;
    margin-right: 0.2rem;
    margin-top: 0.2rem;
}

.sb_r {
    float: right;
    transform: scale(0.7);
    margin-right: -0.6rem;
}

#smenu {
    background-color: rgba(39, 39, 39, 0.9);
    backdrop-filter: blur(0.7rem);
    position: fixed;
    left: 0.5rem;
    height: 24rem;
    width: 20rem;
    padding-bottom: 0.5rem;
    border-radius: 20px;
    color: white;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    transition: 0.23s;
    z-index: 99;
}

.menuuser {
    margin-left: 0.45rem;
    margin-top: 22rem;
    background-color: rgba(255, 255, 255, 0.03);
    padding: 0.2rem;
    padding-left: 0.4rem;
    padding-bottom: 0.1rem;
    border-radius: 8rem;
    width: 4rem;
    transition: 0.23s;
}

.menuuser:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.actionbuttons {
    margin-top: -2.35rem;
    margin-left: 17.6rem;
}

.smshow {
    top: 2.5rem;
    opacity: 1;
    visibility: visible;
    transition: 0.23s;
    filter: blur(0rem);
    z-index: 99;
}
.smhide {
    top: 1.25rem;
    opacity: 0;
    visibility: hidden;
    transition: 0.23s;
    filter: blur(0.5rem);
    z-index: 99;
}
.rebbutton {
    background-color: rgba(255, 255, 255, 0.03);
    padding: 0.2rem;
    border-radius: 8rem;
    transition: 0.23s;
}

.rebbutton:hover {
    background-color: rgba(255, 255, 255, 0.05);
    transform: scale(1.1);
}

.rebbutton:active {
    background-color: rgba(255, 255, 255, 0.03);
    transform: scale(1);
}

#pinneddiv {
    background-color: rgba(255, 255, 255, 0.02);
    border-radius: 11px;
    margin-top: -24.5rem;
    margin-left: 0.5rem;
    width: min-content;
    padding: 0.3rem;
    padding-top: 0rem;
    padding-bottom: 0.1rem;
    width: 18.35rem;
}

.appname_smpd {
    margin-top: -2.35rem;
    margin-left: 3.5rem;
    z-index: 101;
}

.appicon {
    width: 3rem;
    height: 3rem;
    padding: 0.1rem;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 4px;
    transition: 0.23s;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

.appicon:hover {
    background-color: rgba(255, 255, 255, 0.03);
    transform: scale(1.05);
    border-radius: 8px;
}

.appicon:active {
    background-color: rgba(255, 255, 255, 0.03);
    transform: scale(0.93);
    border-radius: 6px;
}

.appwindow {
    width: 32rem;
    height: 24rem;
    background-color: rgb(39, 39, 39, 0.7);
    backdrop-filter: blur(0.7rem);
    margin-top: 3rem;
    margin-left: 1.5rem;
    border-radius: 14px;
    border: 2px solid rgb(39, 39, 39);
    box-shadow: 0 0 2rem rgb(0 0 0 / 30%);
}

#appwindow_terminal {
    width: 32rem;
    height: 24rem;
    background-color: rgb(39, 39, 39, 0.7);
    backdrop-filter: blur(0.7rem);
    margin-top: 4rem;
    margin-left: 1.5rem;
    border-radius: 14px;
    border: 2px solid rgb(39, 39, 39);
}

#appwindow_justice {
    width: 36rem;
    height: 28rem;
    background-color: rgba(39, 39, 39, 0.7);
    backdrop-filter: blur(0.7rem);
    margin-top: -25rem;
    margin-left: 3.5rem;
    border-radius: 14px;
    border: 2px solid rgb(39, 39, 39);
}
#topbar_window_justice {
    background-color: rgb(39, 39, 39);
    width: 36rem;
    padding: 0.3rem;
    padding-left: 0;
    padding-right: 0;
    border-radius: 14px 14px 0 0;
}

#appwindow_settings {
    width: 32rem;
    height: 24rem;
    background-color: rgb(39, 39, 39, 0.7);
    backdrop-filter: blur(0.7rem);
    margin-top: -26rem;
    margin-left: 1.5rem;
    border-radius: 14px;
    border: 2px solid rgb(39, 39, 39);
}
#topbar_window_settings {
    background-color: rgb(39, 39, 39);
    width: 32rem;
    padding: 0.3rem;
    padding-left: 0;
    padding-right: 0;
    border-radius: 14px 14px 0 0;
}
.closebtn_window_settings {
    float: right;
    color: #ffffff00;
    font-size: 1.3rem;
    background-color: rgb(187, 0, 0);
    padding: 0.3rem;
    height: 1.5rem;
    border-radius: 3rem;
    transition: 0.5s;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    transform: scale(0.4);
    margin-top: -1.7rem;
    margin-right: -0.3rem;
}

#topbar_window {
    background-color: rgb(39, 39, 39);
    width: 32rem;
    padding: 0.3rem;
    padding-left: 0;
    padding-right: 0;
    border-radius: 14px 14px 0 0;
}

.appname_window {
    text-align: center;
    color: white;
}

.closebtn_window {
    float: right;
    color: #ffffff00;
    font-size: 1.3rem;
    background-color: rgb(187, 0, 0);
    padding: 0.3rem;
    height: 1.5rem;
    border-radius: 3rem;
    transition: 0.5s;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    transform: scale(0.4);
    margin-top: -1.7rem;
    margin-right: -0.3rem;
}

.closebtn_window:hover {
    color: #ffffffb2;
    transition: 0.5s;
}

.closebtn_window_justice {
    float: right;
    color: #ffffff00;
    font-size: 1.3rem;
    background-color: rgb(187, 0, 0);
    padding: 0.3rem;
    height: 1.5rem;
    border-radius: 3rem;
    transition: 0.5s;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    transform: scale(0.4);
    margin-top: -2.4rem;
    margin-right: -8rem;
}

.kernel_panic {
    background-color: black;
}

.appwindow_hidden {
    visibility: hidden;
    transition: 0.23s;
    transition-property: opacity, transform, visibility, filter;
    filter: blur(0.2rem);
    opacity: 0;
    transform: scale(0.96);
}

.appwindow_shown {
    visibility: visible;
    opacity: 1;
    transition: 0.23s;
    transition-property: opacity, transform, visibility, filter;
    filter: blur(0rem);
    transform: scale(1.0);
}

#iframe_justice {
    width: 36rem;
    height: 26.36rem;
    margin-top: -0.85rem;
    border-radius: 0 0 6px 6px;
}